# Just a basic workflow to demonstrate an issue with parsing colons

name: CI

on:
  pull_request:
    types: [labeled]
  
env:
  LABEL: "autorelease: pending"

jobs:
  build:
    if: ${{ contains(github.event.pull_request.labels.*.name, env.LABEL) }}
    runs-on: ubuntu-latest

    steps:
      - run: echo hello world
