# Just a basic workflow to demonstrate an issue with parsing colons

name: CI

on:
  pull_request:
    types: [labeled]

jobs:
  set_label:
    runs-on: ubuntu-labels
    outputs:
      label: "with: colon"
      
  build:
    needs: set_label
    if: ${{ contains(github.event.pull_request.labels.*.name, needs.set_label.outputs.label) }}
    runs-on: ubuntu-latest

    steps:
      - run: echo hello world
